<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<style type="text/css">
		


	</style>




</head>
<body>

<div class="container">
	<div class="wine-menu col-sm-10 col-sm-offset-1">
		<div class="left-menu col-sm-5">
			<h4><strong>Find Wine Suggestions</strong></h4><br/>
			<form action="/color" method="post">
				<fieldset>
					<h5>What type of beverage do you prefer?</h5>
					<select name="searchType">
						<option> </option>
						<option>Wine</option>
						<option>Spirits</option>          <!-- selected="selected" -->
						<option>Table</option>
						<option>Dessert</option>
						<option>Sparkling</option>
						<option>Fruit</option>
						<option>Cider</option>
						<option>Sake</option>
					</select>

					<h5>What color wine do you prefer?</h5>
					<select name="searchColor">
						<option> </option>
						<option>Red</option>
						<option>White</option>
						<option>Rose</option>          <!-- selected="selected" -->
						<option>Amber</option>
						<option>Clear</option>
					</select>

					<h5>Search by variety: <br/>(i.e "Cabernet", "Pinot Noir", "Merlot", "Malbec", "Zinfandel", etc.)</h5>

					<h5>Min Price: </h5>
					$<select name="searchMinPrice">
						<option> </option>
						<option>10</option>
						<option>20</option>
						<option>30</option>
						<option>40</option>
						<option>50</option> 
						<option>75</option>         <!-- selected="selected" -->
						<option>100</option>
						<option>200</option>
						<option>500</option>
						<option>1000</option>
						<option>2000</option>
						<option>None</option>
					</select>

					<h5>Max Price: </h5>
					$<select name="searchMaxPrice">
						<option> </option>
						<option>10</option>
						<option>20</option>
						<option>30</option>
						<option>40</option>
						<option>50</option> 
						<option>75</option>         <!-- selected="selected" -->
						<option>100</option>
						<option>200</option>
						<option>500</option>
						<option>1000</option>
						<option>2000</option>
						<option>None</option>
					</select>

					<h5>Sort Selection By: </h5>
						<select name="searchSort">
						<option> </option>
						<option>Quality &#8679</option>
						<option>Quality &#8681</option>
						<option>Price &#8679</option>          <!-- selected="selected" -->
						<option>Price &#8681</option>
					</select>


					<button type="submit">Find wines</button>
				</fieldset>
			</form>
			<br/>

			<div>
			OR
			</div>

			<br/>

			<!-- <h5>Search by your favorite variety of wine <br/>(i.e "Cabernet", "Pinot Noir", "Merlot", "Malbec", "Zinfandel", etc.)</h5>
			<form id="search-form" action="/varietal" method="post">
				<input type="text" name="searchVariety"/>
				<button type="submit">Search</button>
			</form> -->
		</div>
		<div class="right-menu col-sm-5 col-sm-offset-2">
			<h4><strong>Find Recipe Pairings</strong></h4><br/>
			<form id="search-form" action="/recipes" method="post">
				<input type="text" name="searchString"/>
				<button type="submit">Search</button>
			</form>
		</div>




	</div>
</div>



</body>
</html>